<section class="portfolio">
    <h3 class="view-title">Portfolio</h3>
    <img src="../../public/linkedin.png" alt="">
    <p>José raimundo del Rio</p>
    <p>Full Stack Web-Developer</p>
    <p>+5 años de experiencia</p>
    <p>
        Comencé mi camino como programador de forma autodidacta tras estudiar
        Construcción Civil. Aprendí por mi cuenta en Chile y luego profundicé
        mis conocimientos viviendo tres años en Europa, donde trabajé como
        desarrollador. Desde entonces he creado sitios web, aplicaciones móviles
        y backends robustos para pymes y emprendedores. Hoy soy CTO y cofundador
        de Chilisites, donde lidero el desarrollo de plataformas digitales
        modernas, eficientes y bien posicionadas. Me especializo en React,
        Astro, Django, Flask, y bases de datos SQL/NoSQL. Siempre estoy
        aprendiendo, combinando tecnología, diseño y automatización con
        inteligencia artificial para crear soluciones reales y escalables.
    </p>
</section>